<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-<label>" />
    <title>@ViewData["Title"]</title>
    <link href="css/default.css" rel="stylesheet" />
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="img/favicon.jpg" />
</head>
<body>
    <nav>
        <a asp-controller="Home" asp-action="Index">Home</a>
        <a asp-controller="Home" asp-action="GradingCalculator">Grading Calculator</a>
    </nav>
    <div>
        @RenderBody()
    </div>

    <footer>This is the footer</footer>

    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="lib/jquery/jquery-3.6.0.min.js"></script>
    <script src="js/GradeCalculator.js"></script>


</body>
</html>